{% extends 'base.html.twig' %}

{% block title %}{{ 'templates.register_success.title'|trans }}{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="mt-1">{{ 'templates.register_success.title'|trans }}</h1>

        <turbo-frame id="registration_form">
            <p>{{ 'templates.register_success.info'|trans }}</p>
        </turbo-frame>
    </div>

{% endblock %}
