{% extends "base.html.twig" %}

{% block title %}
    {{ 'templates.movies.watchlist' }}
{% endblock %}

{% block body %}

    <div class="container mt-3">
        {% include 'components/modal/default.html.twig'with {
                'form': addWatchlistForm,
                'formPath': path('app_movie_watchlists_add')
        } %}
        <ul data-turbo="false">
            {% for watchlist in watchlists %}
                <li><a href="{{ path('app_movie_watchlist_show', {id: watchlist.id}) }}">{{ watchlist.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
