{% extends "base.html.twig" %}

{% block title %}
    {{ 'templates.movies.watchlist' }}
{% endblock %}

{% block body %}

    <div class="container mt-3">
        <div class="mb-3">
            {% include 'components/modal/default.html.twig'with {
                'form': addWatchlistForm,
                'formPath': path('app_movie_watchlists_add')
            } %}
        </div>
        {% include 'components/watchlist_preview_container.html.twig' %}
    </div>

{% endblock %}
