{% extends "base.html.twig" %}

{% block title %}
    {{ 'templates.movies.watchlist_show' }}
{% endblock %}

{% block body %}

    <turbo-frame id="movieWatchlist">
        <div class="container">
            <h1>{{ watchlist.name }}</h1>
        </div>
        {% include 'components/movie_preview_container.html.twig' %}
    </turbo-frame>

{% endblock %}
