<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loginModalLabel">{{ 'templates.login_modal.title'|trans }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <turbo-frame id="login_form" src="{{ path('app_login') }}" loading="lazy"></turbo-frame>
            </div>
        </div>
    </div>
</div>
