{% extends "components/modal/base.html.twig" %}

{% block modal_body %}
    <turbo-frame id="{{ form.vars.id }}_frame" src="{{ formPath }}" loading="lazy">
        {% for flash in app.flashes('form_success') %}
            <div class="alert alert-success">
                {{ flash|trans|raw }}
            </div>
        {% endfor %}
        {{ form(form, {'action': formPath }) }}
    </turbo-frame>
{% endblock %}
