{% extends "components/modal/base.html.twig" %}

{% block modal_body %}
    <div id="{{ form.vars.id }}_form">
        {% for flash in app.flashes('form_success') %}
            <div class="alert alert-success">
                {{ flash|trans|raw }}
            </div>
        {% endfor %}
        {{ form(form, {'action': formPath }) }}
    </div>
{% endblock %}

