{% extends "base.html.twig" %}

{% block title %}
    {{ 'templates.movies.discover'|trans }}
{% endblock %}

{% block body %}

    <div class="container">
        {{ form(form) }}
    </div>
    {% include('components/movie_preview_container.html.twig') %}

{% endblock %}
