@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';

.filling-empty-space-childs {
    width: 264px; /*the width of the movie previews (including padding)*/
    height: 0; /*Important! for the divs to collapse should they fall in a new row*/
}

.card {
    width: 256px;
    transition: transform 0.3s;
}