@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import 'tom-select-dark-mode.scss';

.filling-empty-space-childs {
    width: 264px; /*the width of the movie previews (including padding)*/
    height: 0; /*Important! for the divs to collapse should they fall in a new row*/
}

.card {
    width: 256px;
    transition: transform 0.3s;
}

#card-description {
    visibility: hidden;
}

.card:hover {
    transform: scale(1.05);
    z-index: 999;
}

.card:hover #poster,
.card:hover #card-rating {
    transition: filter 0.6s 0.8s;
    filter: blur(5px) brightness(0.5);
}

.card:hover #card-description {
    transition: visibility 0.6s 0.8s;
    visibility: visible;
}
